# CLion project files
.idea/
cmake-build-*/

# CMake build artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

.vs
/out/
**/build*/

# Executables and object files
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib

# User-specific files
*.user
*.suo

# Backup and temporary files
*~
*.bak
*.tmp